[Settings]
ID = "solvomon"

[build]
  base    = "/"
  publish = "/"
  command = "gulp"

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = """
        default-src https: 'self';
        font-src 'self' data: https://fonts.googleapis.com https://fonts.gstatic.com;
        style-src 'self' 'unsafe-inline' data: https://fonts.googleapis.com https://fonts.gstatic.com;
        script-src 'self' 'unsafe-eval' 'unsafe-inline' https://www.googletagmanager.com https://tagmanager.google.com https://www.google-analytics.com;
        """
    Referrer-Policy = "strict-origin-when-cross-origin"
    Strict-Transport-Security = "max-age=2592000; preload" # one month for now
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "deny"
    X-XSS-Protection = "1; mode=block"
